In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data-preprocessing/csv/ohlcv_with_future_v5.csv",date_parser=True)

In [3]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,close_c_10min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1204236.0,NaN,NaN
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-340484.0,NaN,NaN
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,113083.0,NaN,NaN

In [4]:
df = df.dropna(axis=0)
df = df.drop(columns=['timestamp'], axis=1)

In [5]:
df.head()

,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,close_c_5min,close_c_10min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
33,11706.5,11706.5,11706.0,11706.5,325002.0,11717.5,11732.0,11736.5,1.0,1.0,1.0,70.959791,61.712963,72.669753,-20.895522,10.711134,0.149713,15010057.0,11691.848387,0.032642
34,11706.5,11717.5,11706.0,11717.5,2707734.0,11724.0,11748.0,11735.0,1.0,1.0,1.0,76.767153,74.305556,69.537037,-0.000000,11.401959,0.239531,17717791.0,11693.987097,0.037293
35,11717.5,11724.0,11717.0,11724.0,5644187.0,11733.0,11740.0,11728.5,1.0,1.0,1.0,79.389944,85.416667,73.811728,-0.000000,12.331784,0.277980,23361978.0,11696.437634,0.038874
36,11724.0,11738.0,11723.5,11733.0,7255254.0,11732.0,11736.5,11727.0,0.0,1.0,0.0,82.359467,94.949495,84.890572,-10.204082,13.637696,0.354959,30617232.0,11699.341935,0.044897
37,11733.0,11734.5,11732.0,11732.0,1880741.0,11732.0,11739.5,11728.0,1.0,1.0,0.0,80.963614,88.699495,89.688552,-12.244898,14.425658,0.333533,28736491.0,11702.036559,0.043216

In [6]:
df = df.drop(columns=['close_1min','close_5min','close_10min','close_c_5min','close_c_10min'],axis=1)

In [7]:
df.head()

,open,high,low,close,volume,close_c_1min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
33,11706.5,11706.5,11706.0,11706.5,325002.0,1.0,70.959791,61.712963,72.669753,-20.895522,10.711134,0.149713,15010057.0,11691.848387,0.032642
34,11706.5,11717.5,11706.0,11717.5,2707734.0,1.0,76.767153,74.305556,69.537037,-0.000000,11.401959,0.239531,17717791.0,11693.987097,0.037293
35,11717.5,11724.0,11717.0,11724.0,5644187.0,1.0,79.389944,85.416667,73.811728,-0.000000,12.331784,0.277980,23361978.0,11696.437634,0.038874
36,11724.0,11738.0,11723.5,11733.0,7255254.0,0.0,82.359467,94.949495,84.890572,-10.204082,13.637696,0.354959,30617232.0,11699.341935,0.044897
37,11733.0,11734.5,11732.0,11732.0,1880741.0,1.0,80.963614,88.699495,89.688552,-12.244898,14.425658,0.333533,28736491.0,11702.036559,0.043216

In [8]:
def normalizeDataframe(data_frame):
    normalize_df = data_frame.copy()
    for column in normalize_df.columns:
        min_value = min(normalize_df[column])
        max_value = max(normalize_df[column])
        normalize_df[column] = (normalize_df[column] - min_value) / (max_value - min_value)
    return normalize_df

In [9]:
df = normalizeDataframe(df)

In [10]:
close_c_1min = df['close_c_1min'].copy()

In [11]:
df = df.drop(columns=['close_c_1min']).copy()
# df['close_c_1min'] = close_c_1min

In [12]:
df.head()

,open,high,low,close,volume,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
33,0.876721,0.872625,0.878350,0.876721,0.002851,0.714517,0.617130,0.726698,0.791045,0.514965,0.433476,0.896611,0.878493,0.019952
34,0.876721,0.874837,0.878350,0.878931,0.023778,0.773412,0.743056,0.695370,1.000000,0.516564,0.438635,0.897415,0.878928,0.023349
35,0.878931,0.876144,0.880542,0.880237,0.049569,0.800011,0.854167,0.738117,1.000000,0.518717,0.440844,0.899091,0.879427,0.024505
36,0.880237,0.878958,0.881837,0.882046,0.063719,0.830127,0.949495,0.848906,0.897959,0.521741,0.445265,0.901245,0.880018,0.028904
37,0.882046,0.878255,0.883531,0.881845,0.016515,0.815971,0.886995,0.896886,0.877551,0.523566,0.444035,0.900687,0.880567,0.027676

In [13]:
data_feature_np = df.values
data_answer_np = close_c_1min.values

In [14]:
X=[]
y=[]

In [15]:
for i in range(60,data_feature_np.shape[0]):
    X.append(data_feature_np[i-60:i])
    y.append(data_answer_np[i])

In [16]:
import numpy as np

In [17]:
X, y = np.array(X), np.array(y)

In [18]:
X.shape

(143897, 60, 14)

In [19]:
y.shape

(143897,)

In [20]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout, GRU, LSTM
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

In [21]:
early_stopping = EarlyStopping(monitor="val_accuracy", mode="min", patience=8)

In [22]:
checkpoint = ModelCheckpoint(filepath="best_params.hdf5", monitor="val_accuracy",verbose = 1, save_best_only=True)

In [23]:
regressor_GRU = Sequential()

regressor_GRU.add(LSTM(units = 128, activation = 'tanh', input_shape = (X.shape[1], X.shape[2])))
# regressor_GRU.add(LSTM(units = 128, activation = 'tanh', return_sequences=True, input_shape = (X.shape[1], X.shape[2])))

# regressor_GRU.add(Dropout(0.2))

# regressor_GRU.add(LSTM(units = 64, activation='tanh', return_sequences=True))
# regressor_GRU.add(Dropout(0.3))

# regressor_GRU.add(LSTM(units  = 128, activation='tanh'))
# regressor_GRU.add(Dropout(0.3))

regressor_GRU.add(Dense(units = 1, activation='sigmoid'))

In [24]:
regressor_GRU.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 128)           73216
_________________________________________________________________
dense (Dense)                (None, 60, 1)             129
=================================================================
Total params: 73,345
Trainable params: 73,345
Non-trainable params: 0
_________________________________________________________________

In [25]:
regressor_GRU.compile(optimizer='adam', loss = "binary_crossentropy", metrics=["accuracy"])

In [27]:
GRU_history = regressor_GRU.fit(X, y, epochs=256, batch_size=512, validation_split=0.2, callbacks=[checkpoint, early_stopping])

ValueError: A target array with shape (143897, 1) was passed for an output of shape (None, 60, 1) while using as loss `binary_crossentropy`. This loss expects targets to have the same shape as the output.