In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./csv/ohlcv_with_future_v2.csv", date_parser=True)

In [3]:
df.head(5)

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.0,downtrend,NaN,0.0,1.0,1.0
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,1.0,1.0,1.0
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.0,downtrend,NaN,1.0,0.0,1.0
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,0.0,0.0,1.0

In [6]:
from talib import RSI, STOCH, WILLR, MACD, ROC, OBV, WMA, NATR

In [7]:
rsi = RSI(df['close'])
k, d = STOCH(df['high'],df['low'],df['close'])
williams_r = WILLR(df['high'], df['low'], df['close'])
rate_of_change = ROC(df['close'])
on_balance_volume = OBV(df['close'],df['volume'])
weighted_moving_average = WMA(df['close'])
normalized_average_true_range = NATR(df['high'], df['low'], df['close'])

In [8]:
df = df.drop(columns=['sma_12','sma_26','Fast_Line','Slow_Line_9','PSAR','trend','RSI'], axis = 1)

In [9]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,close_c_5min,close_c_10min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,1.0,1.0
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,1.0,1.0
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,1.0,1.0
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,0.0,1.0
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,0.0,1.0

In [10]:
df.shape

(144000, 12)

In [11]:
rsi.shape

(144000,)

In [12]:
df['rsi'] = rsi

In [13]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,close_c_5min,close_c_10min,rsi
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,1.0,1.0,NaN
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,1.0,1.0,NaN
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,1.0,1.0,NaN
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,0.0,1.0,NaN
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,0.0,1.0,NaN

In [14]:
k.shape

(144000,)

In [15]:
df['k'] = k
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,close_c_5min,close_c_10min,rsi,k
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,1.0,1.0,NaN,NaN
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,1.0,1.0,NaN,NaN
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,1.0,1.0,NaN,NaN
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,0.0,1.0,NaN,NaN
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,0.0,1.0,NaN,NaN

In [16]:
d.shape

(144000,)

In [17]:
df['d'] = d

In [18]:
williams_r.shape

(144000,)

In [19]:
df['williams_r'] = williams_r

In [20]:
macd, macdsignal, macdhist = MACD(df['close'], fastperiod=12, slowperiod=26, signalperiod=9)

In [21]:
macd.shape

(144000,)

In [22]:
df['macd'] = macd

In [23]:
df['rate_of_change'] = rate_of_change

In [24]:

df['on_balance_volume'] = on_balance_volume

In [25]:
df['weighted_moving_average'] = weighted_moving_average

In [26]:
df['normalized_average_true_range'] = normalized_average_true_range

In [27]:
df.tail()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,close_c_10min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
143995,2019-11-14 12:32:00,8690.5,8690.5,8659.5,8676.5,24249774.0,8685.0,NaN,NaN,1.0,...,NaN,16.869279,33.443555,35.356592,-79.518072,-16.186201,-0.749256,-2.888392e+09,8724.201075,0.104887
143996,2019-11-14 12:33:00,8676.5,8685.0,8676.0,8685.0,3216354.0,8692.5,NaN,NaN,1.0,...,NaN,25.434230,40.491815,37.057640,-69.277108,-16.871821,-0.549639,-2.885175e+09,8720.953763,0.104701
143997,2019-11-14 12:34:00,8685.0,8701.0,8684.5,8692.5,6810115.0,8688.0,NaN,NaN,0.0,...,NaN,32.083383,57.612726,43.849365,-60.240964,-16.618426,-0.469457,-2.878365e+09,8718.338710,0.110697
143998,2019-11-14 12:35:00,8692.5,8692.5,8685.0,8688.0,2689363.0,8688.5,NaN,NaN,1.0,...,NaN,30.335494,70.385245,56.163262,-65.662651,-16.589488,-0.492498,-2.881055e+09,8715.561290,0.109010
143999,2019-11-14 12:36:00,8688.0,8688.5,8687.5,8688.5,1589545.0,NaN,NaN,NaN,NaN,...,NaN,30.786691,72.690763,66.896245,-65.060241,-16.337876,-0.441160,-2.879465e+09,8712.952688,0.102040

In [28]:
df.to_csv(index=False, path_or_buf="./csv/ohlcv_with_future_v5.csv")

In [29]:
df = pd.read_csv("./csv/ohlcv_with_future_v5.csv", date_parser=True)

In [30]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,close_c_10min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1204236.0,NaN,NaN
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-340484.0,NaN,NaN
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,113083.0,NaN,NaN