In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data-preprocessing/csv/ohlcv_with_future_v5.csv",date_parser=True)

In [3]:
df = df.dropna(axis=0)

In [4]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range,close_c_30min
33,2019-08-06 13:10:00,11706.5,11706.5,11706.0,11706.5,325002.0,11717.5,11732.0,11736.5,1.0,...,70.959791,61.712963,72.669753,-20.895522,10.711134,0.149713,15010057.0,11691.848387,0.032642,1.0
34,2019-08-06 13:11:00,11706.5,11717.5,11706.0,11717.5,2707734.0,11724.0,11748.0,11735.0,1.0,...,76.767153,74.305556,69.537037,-0.000000,11.401959,0.239531,17717791.0,11693.987097,0.037293,1.0
35,2019-08-06 13:12:00,11717.5,11724.0,11717.0,11724.0,5644187.0,11733.0,11740.0,11728.5,1.0,...,79.389944,85.416667,73.811728,-0.000000,12.331784,0.277980,23361978.0,11696.437634,0.038874,1.0
36,2019-08-06 13:13:00,11724.0,11738.0,11723.5,11733.0,7255254.0,11732.0,11736.5,11727.0,0.0,...,82.359467,94.949495,84.890572,-10.204082,13.637696,0.354959,30617232.0,11699.341935,0.044897,1.0
37,2019-08-06 13:14:00,11733.0,11734.5,11732.0,11732.0,1880741.0,11732.0,11739.5,11728.0,1.0,...,80.963614,88.699495,89.688552,-12.244898,14.425658,0.333533,28736491.0,11702.036559,0.043216,1.0

In [5]:
df = df.drop(columns=['timestamp','close_1min','close_5min','close_10min','close_c_5min','close_c_1min','close_c_10min'], axis=1)

In [6]:
df.head()

,open,high,low,close,volume,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range,close_c_30min
33,11706.5,11706.5,11706.0,11706.5,325002.0,70.959791,61.712963,72.669753,-20.895522,10.711134,0.149713,15010057.0,11691.848387,0.032642,1.0
34,11706.5,11717.5,11706.0,11717.5,2707734.0,76.767153,74.305556,69.537037,-0.000000,11.401959,0.239531,17717791.0,11693.987097,0.037293,1.0
35,11717.5,11724.0,11717.0,11724.0,5644187.0,79.389944,85.416667,73.811728,-0.000000,12.331784,0.277980,23361978.0,11696.437634,0.038874,1.0
36,11724.0,11738.0,11723.5,11733.0,7255254.0,82.359467,94.949495,84.890572,-10.204082,13.637696,0.354959,30617232.0,11699.341935,0.044897,1.0
37,11733.0,11734.5,11732.0,11732.0,1880741.0,80.963614,88.699495,89.688552,-12.244898,14.425658,0.333533,28736491.0,11702.036559,0.043216,1.0

In [7]:
def normalizeDataframe(data_frame):
    normalize_df = data_frame.copy()
    for column in normalize_df.columns:
        min_value = min(normalize_df[column])
        max_value = max(normalize_df[column])
        normalize_df[column] = (normalize_df[column] - min_value) / (max_value - min_value)
    return normalize_df

In [8]:
df = normalizeDataframe(df)

In [9]:
df.head()

,open,high,low,close,volume,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range,close_c_30min
33,0.876721,0.872625,0.878350,0.876721,0.002851,0.714517,0.617130,0.726698,0.791045,0.514965,0.433476,0.896611,0.878493,0.019952,1.0
34,0.876721,0.874837,0.878350,0.878931,0.023778,0.773412,0.743056,0.695370,1.000000,0.516564,0.438635,0.897415,0.878928,0.023349,1.0
35,0.878931,0.876144,0.880542,0.880237,0.049569,0.800011,0.854167,0.738117,1.000000,0.518717,0.440844,0.899091,0.879427,0.024505,1.0
36,0.880237,0.878958,0.881837,0.882046,0.063719,0.830127,0.949495,0.848906,0.897959,0.521741,0.445265,0.901245,0.880018,0.028904,1.0
37,0.882046,0.878255,0.883531,0.881845,0.016515,0.815971,0.886995,0.896886,0.877551,0.523566,0.444035,0.900687,0.880567,0.027676,1.0

In [10]:
y = df['close_c_30min']
X = df.drop(columns=['close_c_30min'], axis=1)

In [11]:
X.head()

,open,high,low,close,volume,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
33,0.876721,0.872625,0.878350,0.876721,0.002851,0.714517,0.617130,0.726698,0.791045,0.514965,0.433476,0.896611,0.878493,0.019952
34,0.876721,0.874837,0.878350,0.878931,0.023778,0.773412,0.743056,0.695370,1.000000,0.516564,0.438635,0.897415,0.878928,0.023349
35,0.878931,0.876144,0.880542,0.880237,0.049569,0.800011,0.854167,0.738117,1.000000,0.518717,0.440844,0.899091,0.879427,0.024505
36,0.880237,0.878958,0.881837,0.882046,0.063719,0.830127,0.949495,0.848906,0.897959,0.521741,0.445265,0.901245,0.880018,0.028904
37,0.882046,0.878255,0.883531,0.881845,0.016515,0.815971,0.886995,0.896886,0.877551,0.523566,0.444035,0.900687,0.880567,0.027676

In [12]:
X.shape

(143937, 14)

In [13]:
y.shape

(143937,)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

C:\Users\TaiT_\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [18]:
clf.score(X_train, y_train)

0.5507820302390816

In [19]:
clf.score(X_test, y_test)

0.551410309851327

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
clf_forest = RandomForestClassifier(max_depth=20, n_estimators=30)
clf_forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=20, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
clf_forest.score(X_train, y_train)

0.9561958853311796

In [23]:
clf_forest.score(X_test, y_test)

0.7570168125607892