In [1]:
import pandas as pd
import matplotlib.dates as mdates
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("./csv/ohlcv_with_future_v2.csv", date_parser=True)

In [26]:
df.head(30)

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.000000,downtrend,NaN,0.0,1.0,1.0
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.000000,uptrend,NaN,1.0,1.0,1.0
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.000000,downtrend,NaN,1.0,0.0,1.0
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.000000,uptrend,NaN,0.0,0.0,1.0
5,2019-08-06 12:42:00,11667.5,11668.0,11665.0,11665.0,771611.0,11665.5,11669.5,11677.0,NaN,NaN,NaN,NaN,11660.000000,uptrend,NaN,1.0,1.0,1.0
6,2019-08-06 12:43:00,11665.0,11665.5,11665.0,11665.5,221841.0,11660.0,11684.0,11677.5,NaN,NaN,NaN,NaN,11660.160000,uptrend,NaN,0.0,1.0,1.0
7,2019-08-06 12:44:00,11665.5,11665.5,11660.0,11660.0,1457590.0,11660.5,11683.0,11685.0,NaN,NaN,NaN,NaN,11668.000000,downtrend,NaN,1.0,1.0,1.0
8,2019-08-06 12:45:00,11660.0,11660.5,11660.0,11660.5,810142.0,11663.0,11682.0,11685.0,NaN,NaN,NaN,NaN,11667.840000,downtrend,NaN,1.0,1.0,1.0
9,2019-08-06 12:46:00,11660.5,11663.0,11660.0,11663.0,463950.0,11669.5,11679.0,11680.0,NaN,NaN,NaN,NaN,11667.683200,downtrend,NaN,1.0,1.0,1.0
10,2019-08-06 12:47:00,11663.0,11670.0,11662.5,11669.5,1281118.0,11684.0,11677.0,11681.0,NaN,NaN,NaN,NaN,11660.000000,uptrend,NaN,1.0,1.0,1.0
11,2019-08-06 12:48:00,11669.5,11684.0,11670.0,11684.0,2449536.0,11683.0,11677.5,11683.5,11665.333333,NaN,NaN,NaN,11660.000000,uptrend,NaN,0.0,0.0,0.0
12,2019-08-06 12:49:00,11684.0,11684.0,11683.0,11683.0,972249.0,11682.0,11685.0,11694.5,11667.083333,NaN,NaN,NaN,11660.960000,uptrend,NaN,0.0,1.0,1.0
13,2019-08-06 12:50:00,11683.0,11683.5,11682.0,11682.0,354528.0,11679.0,11685.0,11689.0,11668.750000,NaN,NaN,NaN,11661.881600,uptrend,NaN,0.0,1.0,1.0
14,2019-08-06 12:51:00,11682.0,11682.5,11678.5,11679.0,666139.0,11677.0,11680.0,11689.5,11670.333333,NaN,NaN,NaN,11662.766336,uptrend,72.727273,0.0,1.0,1.0
15,2019-08-06 12:52:00,11679.0,11679.0,11677.0,11677.0,454089.0,11677.5,11681.0,11691.5,11671.333333,NaN,NaN,NaN,11663.615683,uptrend,70.886076,1.0,1.0,1.0
16,2019-08-06 12:53:00,11677.0,11677.5,11677.0,11677.5,702941.0,11685.0,11683.5,11691.5,11672.166667,NaN,NaN,NaN,11664.431055,uptrend,69.686985,1.0,1.0,1.0
17,2019-08-06 12:54:00,11677.5,11685.0,11677.5,11685.0,1642399.0,11685.0,11694.5,11693.0,11673.833333,NaN,NaN,NaN,11665.213813,uptrend,73.012048,1.0,1.0,1.0
18,2019-08-06 12:55:00,11685.0,11685.0,11684.5,11685.0,179371.0,11680.0,11689.0,11698.0,11675.458333,NaN,NaN,NaN,11666.400984,uptrend,71.527147,0.0,1.0,1.0
19,2019-08-06 12:56:00,11685.0,11685.0,11680.0,11680.0,1039355.0,11681.0,11689.5,11706.5,11677.125000,NaN,NaN,NaN,11667.516925,uptrend,65.742898,1.0,1.0,1.0
20,2019-08-06 12:57:00,11680.0,11681.0,11680.0,11681.0,697249.0,11683.5,11691.5,11711.0,11678.833333,NaN,NaN,NaN,11668.565910,uptrend,64.790588,1.0,1.0,1.0
21,2019-08-06 12:58:00,11681.0,11683.5,11680.5,11683.5,1487475.0,11694.5,11691.5,11705.0,11680.541667,NaN,NaN,NaN,11669.551955,uptrend,64.961762,1.0,1.0,1.0
22,2019-08-06 12:59:00,11683.5,11694.5,11683.5,11694.5,3710706.0,11689.0,11693.0,11706.5,11682.625000,NaN,NaN,NaN,11670.478838,uptrend,70.246752,0.0,0.0,1.0
23,2019-08-06 13:00:00,11694.5,11694.5,11689.0,11689.0,1021287.0,11689.5,11698.0,11706.5,11683.041667,NaN,NaN,NaN,11672.400531,uptrend,65.414802,1.0,1.0,1.0
24,2019-08-06 13:01:00,11689.0,11689.5,11689.0,11689.5,612643.0,11691.5,11706.5,11717.5,11683.583333,NaN,NaN,NaN,11674.168488,uptrend,64.023500,1.0,1.0,1.0
25,2019-08-06 13:02:00,11689.5,11691.5,11689.0,11691.5,687432.0,11691.5,11711.0,11724.0,11684.375000,11675.442308,8.932692,NaN,11675.795009,uptrend,63.578210,1.0,1.0,1.0
26,2019-08-06 13:03:00,11691.5,11691.5,11691.0,11691.5,535101.0,11693.0,11705.0,11733.0,11685.416667,11676.576923,8.839744,NaN,11677.291409,uptrend,61.845499,1.0,1.0,1.0
27,2019-08-06 13:04:00,11691.5,11693.0,11691.0,11693.0,684435.0,11698.0,11706.5,11732.0,11686.750000,11677.769231,8.980769,NaN,11678.668096,uptrend,61.164906,1.0,1.0,1.0
28,2019-08-06 13:05:00,11693.0,11698.0,11692.5,11698.0,1351550.0,11706.5,11706.5,11732.0,11688.458333,11679.230769,9.227564,NaN,11679.934648,uptrend,62.898622,1.0,1.0,1.0
29,2019-08-06 13:06:00,11698.0,11706.5,11697.5,11706.5,2314307.0,11711.0,11717.5,11748.0,11690.250000,11680.826923,9.423077,NaN,11681.741183,uptrend,66.330291,1.0,1.0,1.0

In [24]:
df.shape
# df['timestamp'] = df['timestamp'].astype('datetime64[ns]')
# df['timestamp'] = df['timestamp'].map(mdates.date2num)

(144000, 19)

In [5]:
# from talib import MA
# from mpl_finance import candlestick_ohlc

In [6]:
# f, ax = plt.subplots()
# f.set_size_inches((12.8,9.6))
# candlestick_ohlc(ax, df.values, width=1, colorup='g', colordown='r')
# ma_10_plot = MA(df["close"], timeperiod=10, matype=0)
# ma_30_plot = MA(df["close"], timeperiod=30, matype=0)
# ma_10_plot = ma_10_plot.dropna(axis=0)
# ma_30_plot = ma_30_plot.dropna(axis=0)
# ax.xaxis_date()

# ax.plot(df["timestamp"],ma_10_plot, label="MA-10")
# ax.plot(df["timestamp"],ma_30_plot, label="MA-30")
# ax.legend()
# plt.show()

In [7]:
count_0 = 0
count_1 = 0
count_neg_1 = 0

In [8]:
def count(x):
    global count_0
    global count_1
    global count_neg_1
    if(x == 0):
        count_0 = count_0 + 1
    elif(x == 1):
        count_1 = count_1 + 1
    elif(x == -1):
        count_neg_1 = count_neg_1 + 1
    return x


# df['timestamp'] = df['timestamp'].astype('datetime64[ns]')
# df['timestamp'] = df['timestamp'].map(mdates.date2num)

In [9]:
df['close_c_1min'] = df['close_c_1min'].apply(count)

In [10]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.0,downtrend,NaN,-1.0,1.0,1.0
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,1.0,0.0,1.0
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.0,downtrend,NaN,1.0,-1.0,1.0
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,-1.0,-1.0,1.0

In [11]:
print(count_0,'count_0')
print(count_1,'count_1')
print(count_neg_1,'count_neg_1')

25733 count_0
58115 count_1
60151 count_neg_1

In [12]:
new_1 = count_0 + count_1
new_0 = count_neg_1
print(new_1)
print(new_0)

83848
60151

In [13]:
test_new_1 = 0
test_new_0 = 0

In [14]:
def count_new(x):
    global test_new_1
    global test_new_0
    if(x == 0):
        test_new_0 = test_new_0 + 1
    elif(x == 1):
        test_new_1 = test_new_1 + 1
    return x

In [15]:
def convertToBinary(x):
    if(x == 0 or x == 1):
        x = 1
    elif(x == -1):
        x = 0
    return x

In [16]:
df['close_c_1min'] = df['close_c_1min'].apply(convertToBinary)

In [17]:
df['close_c_1min'] = df['close_c_1min'].apply(count_new)

In [18]:
print(test_new_1,'test_new_1')
print(test_new_0,'test_new_0')

83848 test_new_1
60151 test_new_0

In [19]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,sma_12,sma_26,Fast_Line,Slow_Line_9,PSAR,trend,RSI,close_c_1min,close_c_5min,close_c_10min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,NaN,NaN,NaN,NaN,11662.0,downtrend,NaN,0.0,1.0,1.0
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,1.0,0.0,1.0
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,NaN,NaN,NaN,NaN,11665.0,downtrend,NaN,1.0,-1.0,1.0
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,NaN,NaN,NaN,NaN,11660.0,uptrend,NaN,0.0,-1.0,1.0

In [20]:
df['close_c_5min'] = df['close_c_5min'].apply(convertToBinary)
df['close_c_10min'] = df['close_c_10min'].apply(convertToBinary)
# df['close_c_5min'] = df['close_c_5min'].apply(convertToBinary)
# df['close_c_10min'] = df['close_c_10min'].apply(convertToBinary)

In [16]:
# count_zero = 0
# count_one = 0
# for e in df['close_c_1min']:
#     if e == 0:
#         count_zero = count_zero + 1
#     elif e == 1:
#         count_one = count_one + 1

# print(count_zero)
# print(count_one)

60151
83848

In [21]:
df.to_csv(index=False, path_or_buf="./csv/ohlcv_with_future_v2.csv")