In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./csv/ohlcv_with_future_v5.csv", date_parser=True)

In [5]:
close_df = df['close'].copy()

In [8]:
close_30_min_list = []

In [9]:
index = 0
for price in close_df:
    if index > 29:
        close_30_min_list.append(price)
    else:
        index = index+1

In [10]:
print(len(close_30_min_list))
print(close_df.shape[0] - len(close_30_min_list))

143970
30

In [12]:
for i in range(30):
    close_30_min_list.append(NaN)

In [14]:
print(len(close_30_min_list))

144000

In [15]:
df['close_c_30min'] = close_30_min_list

In [16]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range,close_c_30min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN,11711
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN,11705
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-1204236.0,NaN,NaN,11706.5
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-340484.0,NaN,NaN,11706.5
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,113083.0,NaN,NaN,11717.5

In [22]:
import math

In [23]:
close_c_30min_list = []

In [24]:
for index, value in enumerate(close_df):
    if math.isnan(float(close_30_min_list[index])):
        continue
    else:
        if value >= close_30_min_list[index]:
            close_c_30min_list.append(0)
        else:
            close_c_30min_list.append(1)

In [25]:
print(len(close_c_30min_list))

143970

In [26]:
for i in range(30):
    close_c_30min_list.append("NaN")

In [27]:
print(len(close_c_30min_list))

144000

In [28]:
df['close_c_30min'] = close_30_min_list
df = df.drop(columns=['close_c_30min'], axis=1)
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,close_c_10min,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-1204236.0,NaN,NaN
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,-340484.0,NaN,NaN
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,113083.0,NaN,NaN

In [29]:
df['close_c_30min'] = close_c_30min_list

In [34]:
count_0 = 0
count_1 = 0

In [35]:
for val in close_c_30min_list:
    if val == 0:
        count_0 = count_0 + 1
    elif val == 1:
        count_1 = count_1 + 1

In [36]:
print(count_0,'count_0')
print(count_1,'count_1')

74318 count_0
69652 count_1

In [37]:
print(count_0 + count_1)

143970

In [38]:
df.head()

,timestamp,open,high,low,close,volume,close_1min,close_5min,close_10min,close_c_1min,...,rsi,k,d,williams_r,macd,rate_of_change,on_balance_volume,weighted_moving_average,normalized_average_true_range,close_c_30min
0,2019-08-06 12:37:00,11666.0,11666.0,11661.5,11662.0,562848.0,11662.0,11665.0,11669.5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN,1
1,2019-08-06 12:38:00,11662.0,11662.0,11661.5,11662.0,109151.0,11660.0,11665.5,11684.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,562848.0,NaN,NaN,1
2,2019-08-06 12:39:00,11662.0,11662.0,11660.0,11660.0,1767084.0,11665.0,11660.0,11683.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-1204236.0,NaN,NaN,1
3,2019-08-06 12:40:00,11660.0,11665.0,11660.0,11665.0,863752.0,11667.5,11660.5,11682.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-340484.0,NaN,NaN,1
4,2019-08-06 12:41:00,11665.0,11668.0,11664.5,11667.5,453567.0,11665.0,11663.0,11679.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,113083.0,NaN,NaN,1

In [44]:
df.to_csv(index=False, path_or_buf="./csv/ohlcv_with_future_v5.csv")